
a {
    text-decoration: none;
    color: #c1a341;
}
p > a:hover{
    color: #c1a341;
    text-decoration:  underline;
}

h1,h2,h3,h4,h5,h6 {
    margin:  1% 0 1% 0;
}

header {
  background-color: #000;
  padding: 1%;
}

.three-nav-links {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 1%;
}

.nav-link:hover {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
}

ul {
    padding:0;
    list-style: none;
}

.social-icons li {
    vertical-align: top;
    margin: 0.5%;
    display: inline;
    height: 50px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-free-code-camp {
    padding: 10px 14px;
    background-color: #322f30;
}
.fa-free-code-camp:hover {
    background-color: #2a5b3a;
    box-shadow: -5px -5px 50px #fff387;
    border-radius: 30%;
    transform: scale(1.5);
    margin: 0 10px 10px 10px;
}

.fa-github {
    padding: 10px 17px;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #4a2bad;
    box-shadow: -5px -5px 50px #fff387;
    border-radius: 30%;
    transform: scale(1.5);
    margin: 0 10px 10px 10px;
}

.fa-codepen {
    padding: 10px 16px;
    background-color: #322f30;
}
.fa-codepen:hover {
    background-color: #18b6ba;
    box-shadow: -5px -5px 50px #fff387;
    border-radius: 30%;
    transform: scale(1.5);
    margin: 0 10px 10px 10px;
}

.fa-instagram {
    padding: 10px 17px;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #b323db;
    box-shadow: -5px -5px 50px #fff387;
    border-radius: 30%;
    transform: scale(1.5);
    margin: 0 10px 10px 10px;
}


/* .fa-linkedin {
    padding:10px 14px;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}  
in case I want to add it! 
*/

body {
  background-color: #e8e4cc;
}

.intro {
  background-color: #efe5a5;
  width: 70%;
  padding: 3%;
  margin: 4% 15% 4% 15%;
  border: solid;
}

h1 {
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: 700;
}

img {
  width: 120%;
  /*on purpose!*/
}

.portfolio {
  padding: 8%;
}

.placeholder-image {
  width: 100%;
  border: solid;
}

.contact-form {
  padding: 8%;
}
 
.button{
  color:#fff;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:48px;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

.button:hover{
    border:solid 2px #fff;
    color:#722872;
    background:#fff;
  }

.scroll-top {
  margin-bottom: 2%;
  margin-top: 2%
}

.scroll-top:hover {
    transform: scale(1.5);
}

footer {
  background-color: #000;
  padding: 3%;
  color:  #e8e4cc;
  margin-bottom: -10%;
}


/* smaller than 590 */ 
/* iPhone 6 */ 
@media screen and (max-width: 590px){

  .intro {
    background-color: #efe5a5;
    width: 90%;
    padding: 3%;
    margin: 4% 0 4% 0;
    border: solid;
}


}












